fabric-secrets.yml
network_backup.txt
custom-vars-picore.yaml
custom-vars.yaml
become_pass
*.log
test/
custom-vars-test.yaml
link-vars.yaml
fabricctl/BUILD
__pycache__/
*.pyc

# built packages (installers/deb/build-deb.sh)
dist/
