{
  "uri": "ldaps://{{ host_ip }}:636",
  "base": "{{ ad_base_dn }}",
  "site": "{{ site_name }}",
  "bind_dn": "fabric-radius-{{ site_name }}@{{ ad_domain }}",
  "password_file": "/etc/freeradius/fabric/ad-password",
  "ca_file": "/etc/freeradius/certs/ca.pem",
  "people": {{ radius_people | default([]) | to_json }}
}
