{% for acl_name, entries in bind_acls.items() %}
acl "{{ acl_name }}" {
{% for entry in entries %}
    {{ entry }};
{% endfor %}
};

{% endfor %}
acl "tsig-updaters" {
{% for key in tsig_keys %}
    key "{{ key.name }}";
{% endfor %}
};

