[Unit]
Description=Docker Compose service for {{ item.service }}
After=docker.service network-online.target{% if item.requires is defined %}{% for req in item.requires %} {{ req }}.service{% endfor %}{% endif %}

Requires=docker.service network-online.target{% if item.requires is defined %}{% for req in item.requires %} {{ req }}.service{% endfor %}{% endif %}


[Service]
Type=simple
WorkingDirectory={{ deploy_base_dir }}/{{ item.folder }}
{% if (host_ram_capacity | default(0) | int) >= 3 and (host_ram_capacity | default(0) | int) <= 4 %}
{% if item.service == 'postgres' %}
ExecStartPre=/bin/sleep 0
{% elif item.service == 'keycloak' %}
ExecStartPre=/bin/sleep 15
{% else %}
ExecStartPre=/bin/sleep 30
{% endif %}
{% endif %}
ExecStartPre=-/usr/bin/docker compose -f {{ deploy_base_dir }}/{{ item.folder }}/docker-compose.yml rm -fsv
ExecStart=/usr/bin/docker compose -f {{ deploy_base_dir }}/{{ item.folder }}/docker-compose.yml up --abort-on-container-exit
ExecStop=/usr/bin/docker compose -f {{ deploy_base_dir }}/{{ item.folder }}/docker-compose.yml stop
Restart=always
TimeoutStartSec=600
TimeoutStopSec=30
{% if item.healthcheck | default(true) %}
ExecStartPost=/bin/bash -c 'for i in {1..120}; do \
    running=$(docker inspect -f "{{"{{.State.Running}}"}}" {{ item.compose }} 2>/dev/null || echo "false"); \
    if [ "$running" = "false" ] && [ $i -gt 3 ]; then echo "Container died or missing."; exit 1; fi; \
    status=$(docker inspect -f "{{"{{.State.Health.Status}}"}}" {{ item.compose }} 2>/dev/null || echo "missing"); \
    if [ "$status" = "healthy" ]; then exit 0; elif [ "$status" = "unhealthy" ]; then exit 1; fi; \
    sleep 5; \
done; exit 1'
{% endif %}

[Install]
WantedBy=multi-user.target
