logging {
    channel audit_log {
        stderr;          // Sends logs to the Docker console
        severity info;
        print-time yes;
        print-category yes;
        print-severity yes;
    };

    category security     { audit_log; };
    category config       { audit_log; };
    category resolver     { audit_log; };
    category xfer-in      { audit_log; };
    category xfer-out     { audit_log; };
    category client       { audit_log; };
};
