$TTL 86400
$ORIGIN {{ zone_name }}.

;-----------------------------------------------------------------
; SOA Record
;-----------------------------------------------------------------
@       IN      SOA     ns.{{ domain }}. hostmaster.{{ domain }}. (
                        {{ (lookup('pipe', 'date +%s') | int) + 1000000000 }} ; Serial (Epoch timestamp offset)
                        3600             ; Refresh
                        1800             ; Retry
                        604800           ; Expire
                        86400            ; Negative caching TTL
)

;-----------------------------------------------------------------
; NS Records
;-----------------------------------------------------------------
@       IN      NS      ns.{{ domain }}.

;-----------------------------------------------------------------
; A Records
;-----------------------------------------------------------------
{% if zone_records.zone_authority is defined and zone_records.zone_authority %}
{{ "%-24s" | format("ns") }}A       {{ host_ip }}
{% endif %}
{% if zone_records.A is defined %}
{% for rec in zone_records.A %}
{{ "%-24s" | format(rec.name) }}A       {{ rec.ip }}
{% endfor %}
{% endif %}

;-----------------------------------------------------------------
; AAAA Records
;-----------------------------------------------------------------
{% if zone_records.AAAA is defined %}
{% for rec in zone_records.AAAA %}
{{ "%-24s" | format(rec.name) }}AAAA    {{ rec.ip }}
{% endfor %}
{% endif %}

;-----------------------------------------------------------------
; CNAME Records
;-----------------------------------------------------------------
{% if zone_records.CNAME is defined %}
{% for rec in zone_records.CNAME %}
{{ "%-24s" | format(rec.name) }}CNAME   {{ rec.canonical }}
{% endfor %}
{% endif %}

;-----------------------------------------------------------------
; MX Records
;-----------------------------------------------------------------
{% if zone_records.MX is defined %}
{% for rec in zone_records.MX %}
{{ "%-24s" | format(rec.name) }}MX      {{ rec.priority }} {{ rec.exchange }}
{% endfor %}
{% endif %}

;-----------------------------------------------------------------
; TXT Records
;-----------------------------------------------------------------
{% if zone_records.TXT is defined %}
{% for rec in zone_records.TXT %}
{{ "%-24s" | format(rec.name) }}TXT     "{{ rec.text }}"
{% endfor %}
{% endif %}

;-----------------------------------------------------------------
; SRV Records
;-----------------------------------------------------------------
{% if zone_records.SRV is defined %}
{% for rec in zone_records.SRV %}
{{ "%-24s" | format(rec.name) }}SRV     {{ rec.priority }} {{ rec.weight }} {{ rec.port }} {{ rec.target }}
{% endfor %}
{% endif %}
